@media (max-width: 800px) {
  .navigator {
    grid-template-columns: 1fr 1fr;
  }
  /* .navigator div:not(.nav-grid) {
        width: 50%;
      } */

  .navigator h1 {
    font-size: 6vw;
    text-align: center;
    margin: 0px;
  }

  .lang {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 800px;
    border: none;
  }

  .lang ul {
    width: 100%;
    border: #bc6ff1 2px solid;
  }

  .lang ul img {
    width: 100%;
  }

  .lang div {
    width: 100%;
    height: 400px;
    font-size: 3vw;
    margin: 0px;
    border: #bc6ff1 solid 2px;
  }

  .lang-desc {
    width: 100%;
    height: 600px;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 1fr 25%;
  }

  @keyframes lines-move-right {
    0% {
      width: 150px;
      transform: translateX(150px);
    }
    100% {
      width: 10px;
      transform: translateX(200px);
    }
  }

  @keyframes lines-move-left {
    0% {
      width: 150px;
      transform: translateX(-150px);
    }
    100% {
      width: 10px;
      transform: translateX(-200px);
    }
  }

  .link-desc p {
    width: 100%;
  }

  .offer {
    font-size: 3.5vw;
  }
}
