.hello-there {
  display: grid;
  grid-template-columns: 1fr 30%;
  background-image: url("../img/DottedBackground.jpg");
  background-size: 300px;
  /* height: 400px; */
  width: 100%;
  overflow: hidden;
}

.hello-there div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #bc6ff1;
}

.hello-there h1 {
  color: #ff4d00;
  font-size: 80px;
  font-family: "Russo One", sans-serif;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px black;
}

.site-desc {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  word-wrap: break-word;
  font-size: 25px;
  padding: 0px 30px;
  text-align: center;
  margin-bottom: 50px;
}

.bio {
  display: grid;
  grid-template-columns: 45% 1fr;
  padding: 0px 35px;
  color: white;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(150px);
  overflow-x: auto;
}

.bio-in {
  animation: bio-in 1s 1 normal forwards;
}
@keyframes bio-in {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.bio > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.bio > div:last-child {
  min-width: 400px;
}

.desc-card {
  background-color: #52057b;
  border: 1px solid #bc6ff1;
  padding: 15px;
  transition: 0.5s;
  z-index: 999;

  /* position: static;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(120%); */
}

.desc-card b {
  color: red;
}

.desc-card:hover {
  cursor: pointer;
  background-color: #250a33;
}

.desc-in {
  animation: desc-move 0.7s forwards normal ease-out 1;
}
.desc-out {
  animation: desc-move 0.7s forwards reverse ease-out 1;
}

@keyframes desc-move {
  0% {
    position: static;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%) scale(100%);
  }

  100% {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(120%);
  }
}

.likes-dislikes {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#likes {
  transform: translateX(-500px);
}
#dislikes {
  transform: translateX(500px);
}

.likes-dislikes-in {
  animation: likes-dislikes-in 1s 1 forwards normal ease-out;
}
@keyframes likes-dislikes-in {
  100% {
    transform: translateX(0px);
  }
}

.likes-dislikes ul {
  width: 300px;
  height: 400px;
  background-color: #52057b;
  border: 1px #bc6ff1 solid;
  display: flex;
  flex-direction: column;
  color: white;
}
.likes-dislikes ul:hover {
  cursor: pointer;
}

.likes-dislikes ul h2 {
  width: 100%;
  text-align: center;
  border-bottom: 2px black solid;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.likes-dislikes ul li {
  margin-left: 20px;
}

.decor {
  width: 450px;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 2s;
}

.decor:hover {
  transform: rotate(180deg);
}

.decor div:first-child,
.decor div:last-child {
  width: 0px;
  height: 10px;
  background-color: black;
}
.decor div:nth-child(2) {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
}

.decor-in {
  animation: decor-in 1s 1 forwards normal;
}
@keyframes decor-in {
  100% {
    width: 150px;
    background-color: white;
  }
}

.list-move {
  animation: list-move 2s 1 forwards normal;
}

@keyframes list-move {
  50% {
    transform: translateX(50px) scale(110%);
    color: gray;
  }

  100% {
    transform: translateX(0px) scale(100%);
    color: white;
  }
}

.more {
  width: 100%;
  height: 550px;
  margin-bottom: 2%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;

  transform: translateX(500px);
  opacity: 0;
}

.more-in {
  animation: more-in 1s forwards normal ease-out;
}
@keyframes more-in {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.more h2 {
  width: 200px;
  height: 70px;
  border: #bc6ff1 2px solid;
  text-align: center;
  line-height: 70px;
  margin-bottom: 20px;
}

.more-decor {
  width: 40vw;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.more-decor div {
  background-color: white;
  width: 7px;
  height: 150px;
  transform: rotate(45deg);
}

.more-decor .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: -3px;
  background-color: white;
}

.more-decor .circle-move {
  animation: circle-loop 2s infinite ease-in-out alternate;
}

@keyframes circle-loop {
  0% {
    top: -2px;
  }

  100% {
    top: 148px;
  }
}

.more-buttons {
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Russo One", sans-serif;
}

.more-buttons div {
  width: 250px;
  height: 70px;
  /* height will be 250px */
  border: #bc6ff1 1px solid;
  background-color: #400d51;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.more-buttons div:hover {
  height: 250px;
  cursor: pointer;
}

.more-buttons div:hover > img {
  height: 150px;
  opacity: 1;
}

.more-buttons div p {
  line-height: 70px;
  text-align: center;
  font-size: 25px;
}

.more-buttons div img {
  width: 150px;
  height: 0px;
  /* height will be 150px */
  opacity: 0;
  transition: 1s;
}

.message-container {
  width: 100%;
}

.message {
  margin: 0px auto;
  margin-bottom: 5%;
  padding: 15px;

  aspect-ratio: 16/8;
  width: 50%;
  min-width: 150px;
  height: auto;

  border: 5px #400d51 solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;

  transform: translateX(-500px);
  opacity: 0;
}
.message-in {
  animation: message-in 1s 1 forwards normal ease-out;
}

@keyframes message-in {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.message h2 {
  color: white;
}

.message textarea {
  aspect-ratio: 16/6;
  width: 80%;
  height: auto;
  font-size: 1rem;
  padding: 0.5em;
  background-color: #272121;
  border: none;
  color: white;
}
.message textarea:focus {
  outline: none;
}

.message button {
  aspect-ratio: 16/5;
  width: 25%;
  height: auto;
  font-size: 1.25rem;

  background-color: #bc6ff1;
  border: 2px solid white;
  color: white;

  text-transform: uppercase;
  transition: 0.5s;
}

.message button:hover {
  cursor: pointer;
  transform: scale(115%);
  color: #400d51;
  background-color: white;
  border: 2px solid #bc6ff1;
}

.alert-white {
  color: white;
  font-size: 0.85rem;
}

.alert-red {
  color: #ff0000;
  font-size: 0.85rem;
}
