.navigator {
  display: grid;
  grid-template-columns: 1fr 30%;
  background-image: url("../img/DottedBackground.jpg");
  background-size: 300px;
  height: 200px;
}

.navigator div:not(.nav-grid) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #bc6ff1;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navigator h1 {
  color: #ff4d00;
  font-size: 80px;
  font-family: "Russo One", sans-serif;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px black;
}

.navigator button {
  background-color: #272121;
  color: white;
  border: 1px #bc6ff1 solid;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
}

.navigator button:hover {
  transform: scale(110%);
  cursor: pointer;
  color: #ff4d00;
}

.lang {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 400px;
  margin-bottom: 50px;
}

.lang ul {
  display: flex;
  height: 400px;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

.lang ul img {
  width: 400px;
  height: auto;
}

.lang div {
  color: white;
  font-size: 18px;
  margin: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #bc6ff1 solid 2px;
}

.lang div:last-child {
  padding: 15px;
}

.games-title {
  width: 950px;
  height: 50px;
  background-color: #bc6ff1;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.games {
  /* background-color: blue; */
  aspect-ratio: 16 / 9;
  width: 950px;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border: #bc6ff1 2px solid;
  padding: 15px;
  background-image: url("../img/DottedBackground.jpg");
  background-size: cover;
  overflow: hidden;
  margin-bottom: 50px;

  filter: brightness(50%);
  box-shadow: inset 0px 0px 20px black;
  transition: 0.7s;
}

.games img {
  width: 100px;
  height: auto;
  transform: translateY(-50px);
  opacity: 0.5;
  transition: 0.5s;
  /* flex-grow: 0; */
  position: static;
}

.games:hover {
  filter: brightness(100%);
  box-shadow: none;
}
.games:hover > img {
  transform: translateY(0px);
  opacity: 1;
}

.games img:hover {
  cursor: pointer;
  transform: scale(120%);
}

.games .img-selected {
  transform: scale(200%) translateY(100px) !important;
  filter: drop-shadow(5px 5px 100px black);
}

.games-extra {
  display: grid;
  grid-template-columns: 300px 1fr;
  transition: 1s;
}

.games-extra div {
  height: 300px;
  border: #bc6ff1 1px solid;
}

.games-extra div:first-child {
  width: 300px;
}

.games-extra div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 15px;
  background-color: #52057b;
}

.games-extra img {
  width: 300px;
  height: 300px;
}

.reversed {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.reversed div:last-child {
  width: 300px;
  background-color: transparent;
}

.reversed div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  background-color: #52057b;
}

.games-extra-in {
  animation: games-in 1s forwards ease-out 1;
}

@keyframes games-in {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.games-extra * {
  animation: inherit;
}

.sf-container {
  width: 100%;
  padding: 2%;
  margin-bottom: 50px;
}

.sf {
  aspect-ratio: 16/9;
  width: 60%;
  height: auto;
  background-image: url("../img/sf/sfbg.jpg");
  background-size: contain;
  border: 3px solid #bc6ff1;
  margin: 0px auto;
  position: relative;
}

.ryu {
  aspect-ratio: 9/16;
  width: 15%;
  height: auto;
  /* background-color: blue; */
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;

  position: absolute;
  bottom: 10%;
  left: 15%;
}
.ryu-idle {
  animation: ryu-idle infinite 0.35s normal;
}
.ryu-move {
  animation: ryu-move infinite 0.5s normal;
}
/* .ryu-punch {
  animation: ryu-punch 1 0.85s normal forwards;
} */
.ryu-crouch {
  background-image: url("../img/sf/ryu/crouch.png");
}

@keyframes ryu-idle {
  0% {
    background-image: url("../img/sf/ryu/idle1.png");
  }
  100% {
    background-image: url("../img/sf/ryu/idle2.png");
  }
}

@keyframes ryu-move {
  0% {
    background-image: url("../img/sf/ryu/move1.png");
  }
  25% {
    background-image: url("../img/sf/ryu/move2.png");
  }
  50% {
    background-image: url("../img/sf/ryu/move3.png");
  }
  75% {
    background-image: url("../img/sf/ryu/move4.png");
  }
  100% {
    background-image: url("../img/sf/ryu/move1.png");
  }
}

/* @keyframes ryu-punch {
  0% {
    background-image: url("../img/sf/ryu/punch1.png");
  }
  15% {
    background-image: url("../img/sf/ryu/punch2.png");
  }
  35% {
    aspect-ratio: 12/16;
    background-position: center;
    width: 20%;
    background-image: url("../img/sf/ryu/punch3.png");
  }
  85% {
    aspect-ratio: 9/16;
    width: 15%;
    background-image: url("../img/sf/ryu/punch2.png");
  }
  100% {
    background-image: url("../img/sf/ryu/punch1.png");
  }
} */

.ken {
  aspect-ratio: 9/16;
  width: 15%;
  height: auto;
  /* background-color: red; */
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transform: scaleX(-100%);

  position: absolute;
  bottom: 10%;
  right: 15%;
}
.ken-idle {
  animation: ken-idle infinite 0.35s normal;
}
.ken-move {
  animation: ken-move infinite 0.5s normal;
}
.ken-crouch {
  background-image: url("../img/sf/ken/crouch.png");
}

@keyframes ken-idle {
  0% {
    background-image: url("../img/sf/ken/idle1.png");
  }
  100% {
    background-image: url("../img/sf/ken/idle2.png");
  }
}

@keyframes ken-move {
  0% {
    background-image: url("../img/sf/ken/move1.png");
  }
  25% {
    background-image: url("../img/sf/ken/move2.png");
  }
  50% {
    background-image: url("../img/sf/ken/move3.png");
  }
  75% {
    background-image: url("../img/sf/ken/move2.png");
  }
  100% {
    background-image: url("../img/sf/ken/move1.png");
  }
}
